@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to bottom, #68EACC 0%, #497BE8 100% );
}

/* Customização cartão de fundo */
.card{
    max-width:350px;
    width:100%;
    background:#fff;
    border-radius: 5px;
    padding:20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15)
}

.card .titulo{
    font-size:22px;
    font-weight:500;
}

.card .conteudo{
    margin-top:20px;
}

.card label.box{
    background:#ddd;
    display: flex;
    margin-top:12px;
    padding:10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.25s ease;
}

/*Colore a caixa depois que escolhe*/
#um:checked ~label.primeira,
#dois:checked ~label.segunda,
#três:checked ~label.terceira{
    border-color: #8E49E8;
    background:#D5BBF7;
}

/*Sombra que aparece quando passa o mouse em cima*/
.card label.box:hover{
    background:#D5BBF7;
} 

.card label.box .plano{
    display:flex;
    width:100%;
    align-items:center;
}

.card label.box .circulo{
    height:22px;
    width:22px;
    background:#ccc;
    border-radius:50%;
    margin-right: 15px;
    border: 5px solid transparent;
    display: inline-block;
    transition: all 0.25s;
    box-shadow: inset -4px -4px 10px rgba(0,0,0,0,0.2);
}


#um:checked ~label.primeira .circulo,
#dois:checked ~label.segunda .circulo,
#três:checked ~label.terceira .circulo{
    border-color:#8E49E8;
    background:#fff;
}


.card input[type="radio"]{ /*Tirei as bolinhas de input*/
    display: none;
}